body{
    background-image: url(./fondo.jfif);
}

h1{
    color: rgb(165, 56, 42);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2{
    color: rgb(167, 96, 96);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
p{
    color: rgb(235, 233, 232);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    width: 25%;
}

img{
    height: 100px;
    
}
