body{
    background-color:  #CFC;
    font-family: Georgia, Cambria, serif;
    color: #00F;

}
p{
    font-size: 16px;
    
}

h1{
    color: #F00;
    font-family: Verdana, Calibri, sans-serif;
    font-size: 32px;
}
h2{
    color: #A00;
    font-family: Verdana, Calibri, sans-serif;
    font-size: 24px;
}
em{
    color: #060;
    font-style: normal;
}
i{
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
}
.nigg{
    color: #FFF;
    background-color: black;
    font-style: italic;

}

